################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/base/v14
/Debug
/base.VC.VC.opendb
/base.VC.db
